Footer {
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: #f2f2f2;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    position: inherit;
    bottom: 0;
    left: 0;
    font-size: 13px;
    bottom: 0px;
    margin-top: auto;
}
.footer-content{
    width: 100%;
}
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}