#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}
body {
  background-color: #7dba5d;
  font-family: "Roboto", sans-serif;
}

.login-container {
  margin-top: 50px;
  background-color: #ffffff;
  width: 360px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
  justify-content: space-evenly;
  align-items: center;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 0;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #adadad;
}

.login-input .password-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.login-input .email-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

input {
  background-color: #f2f2f2;
  border: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #adadad;
  width: 270px;
}

.button {
  background-color: #52af50;
  width: 300px;
  height: 50px;
  border-radius: 0px;
  color: white;
}

.input-icon{
  width:24px;
  height: 24;
  margin-right: 10px;
  margin-left: 0px;
}

