#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #7dba5d;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}
.register-container {
  background-color: #ffffff;
  min-width: 50%;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  margin-top: 10px;
}

.register-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  outline: 0;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #adadad;
}
.register-input .first-name-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.register-input .last-name-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.register-input .phone-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.register-input .address-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.register-input .password-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.register-input .email-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

input {
  background-color: #f2f2f2;
  border: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #adadad;
  width: 100%;
}

.button {
  background-color: #52af50;
  width: 300px;
  height: 50px;
  border-radius: 0px;
  color: white;
}

.input-icon {
  width: 24px;
  height: 24;
  margin-right: 10px;
  margin-left: 0px;
}
