/* UpdateAccount.css */

.update-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centriranje forme na sredini ekrana */
  min-width: 100%;
  min-height: 100vh;
  background-color: #7dba5d; /* Isti zeleni ton */
  font-family: "Roboto", sans-serif;
}

.update-account-div {
  background-color: #ffffff;
  min-width: 400px; /* Možeš podesiti širinu po želji */
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
  align-items: center;
  border-radius: 4px; /* Blago zaobljene ivice za moderniji izgled */
  margin-top: 50px;
}


.header-div {
  font-size: x-large;
  margin-bottom: 25px;
  color: #333;
}

.update-form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Stilovi za kontejnere oko inputa */
.first-name-div, 
.last-name-div, 
.phone-div, 
.address-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2; /* Siva pozadina kao u originalu */
  padding: 0 15px;
}

.input-icon {
  width: 20px;
  height: 20px;
  color: #adadad;
  margin-right: 10px;
}

input {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 0;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #adadad;
}

input::placeholder {
  color: #adadad;
}

.button-div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.updateButton {
  background-color: #52af50;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.updateButton:hover {
  background-color: #45a044;
}